<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>Read.css</title>
    <link rel="stylesheet" href="./assets/normalize.css" />
    <link rel="stylesheet" href="./read.css" />
    <style>
      .container {
        max-width: 640px;
        margin: 1.6em auto;
        padding: 0 1.2em;
      }
    </style>
  </head>
  <body>
    <div class="container read">
      {{ content }}
    </div>
  </body>
</html>
